<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ConexionAClinicaMedica"
         connectionString="Data Source=localhost,1433;Initial Catalog=ClinicaMedica;User ID=sa;Password=ClinicaMedicaCUDI!;"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
